# ─── Strapi ───────────────────────────────────────────────────────────────────
NEXT_PUBLIC_STRAPI_HOST=
NEXT_PUBLIC_STRAPI_URL=
NEXT_PUBLIC_STRAPI_TOKEN=

# ─── App ──────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# ─── Google ───────────────────────────────────────────────────────────────────
NEXT_PUBLIC_GOOGLE_MAPS_API=
NEXT_PUBLIC_GOOGLE_MAP_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_SECRET_ID=

# ─── Yandex ───────────────────────────────────────────────────────────────────
NEXT_PUBLIC_YANDEX_CLIENT_ID=
NEXT_PUBLIC_YANDEX_CLIENT_SECRETL=

# ─── Telegram ─────────────────────────────────────────────────────────────────
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_ORDER_THREAD_ID=

# ─── NextAuth ─────────────────────────────────────────────────────────────────
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
NEXT_PUBLIC_AUTH_SECRET=

# ─── Strapi Backend ───────────────────────────────────────────────────────────
HOST=0.0.0.0
PORT=1337
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
JWT_SECRET=
TRANSFER_TOKEN_SALT=
STRAPI_ENABLE_REMOTE_DATA_TRANSFER=true
STRAPI_DISABLE_REMOTE_DATA_TRANSFER=false
STRAPI_PLUGIN_I18N_INIT_LOCALE_CODE=ru
STRAPI_ADMIN_ORIGIN=localhost:1337
STRAPI_TRANSFER_URL=
STRAPI_TRANSFER_TOKEN=
GOOGLE_MAPS_API_KEY=
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=

# ─── Database ─────────────────────────────────────────────────────────────────
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_SSL=false
DATABASE_FILENAME=

# ─── SMTP ─────────────────────────────────────────────────────────────────────
SMTP_USER=
SMTP_PASS=

# ─── Bucket (Yandex Cloud S3) ─────────────────────────────────────────────────
AWS_ACCESS_KEY_ID=
AWS_ACCESS_SECRET=
AWS_REGION=ru-central1
AWS_BUCKET_NAME=
AWS_ENDPOINT=https://storage.yandexcloud.net