# Конфигурация GitLab CI/CD для проекта Canadian Lawn
# Определяет этапы подготовки, сборки, развертывания и управления базой данных

# Глобальные переменные
variables:
  BACKEND_DEST_DIR: "/var/www/canadian-lawn-backend"
  FRONTEND_DEST_DIR: "/var/www/canadian-lawn-frontend"
  FRONTEND_WORKING_DIR: "apps/web"
  BACKEND_WORKING_DIR: "apps/backend"
  YARN_CACHE_FOLDER: ".yarn/cache/*.zip"
  POSTGRES_SERVICE: "postgres"

# Глобальные настройки, выполняемые перед каждым заданием
default:
  cache:
    paths:
      - $YARN_CACHE_FOLDER
    key: "${CI_COMMIT_REF_SLUG}-yarn"

# Определение этапов выполнения
stages:
  - setup
  - build-backend
  - deploy-backend
  - build-frontend
  - deploy-frontend

# Задание: Подготовка окружения (выполняется один раз)
setup:
  stage: setup
  tags:
    - deploy
  script:
    # Создание директории и установка прав
    # Копирование файлов
    - echo "⚙️ Настраиваю Yarn..."
    - corepack enable
    - yarn set version 4.9.2
    - yarn install --no-immutable

  when: always
  timeout: 15m

# Задание: Сборка и развертывание веб-приложения
build-frontend:
  stage: build-frontend
  tags:
    - deploy
  needs:
    - job: setup
  variables:
    GIT_CLEAN_FLAGS: "none"
  rules:
    # Выполняется при изменениях в указанных директориях или конфиге
    - changes:
        - "apps/web/**/*"
        - "packages/ui-kit/**/*"
        - "packages/api/**/*"
        - ".gitlab-ci.yml"
      when: always
  script:
    - echo "⚙️ Сохраняю .env для фронта..."
    - echo "$ENV_WEB" > "apps/web/.env"
    - echo "$ENV_WEB" > "packages/api/.env"
    - cd $CI_PROJECT_DIR
    - yarn install
    - yarn build:all
  artifacts:
    paths:
      - apps/web/.next
      - apps/web/public
      - apps/web/.env
    expire_in: 1h
  timeout: 15m

deploy-frontend:
  stage: deploy-frontend
  tags:
    - deploy
  variables:
    GIT_CLEAN_FLAGS: "none"
  needs:
    - job: build-frontend
      optional: true
  rules:
    # Выполняется при изменениях в бэкенде или конфиге
    - changes:
        - "apps/web/**/*"
        - ".gitlab-ci.yml"
      when: always
  script:
    - echo "Копируем файлики"
    - cd apps/web
    - sudo rm -rf $FRONTEND_DEST_DIR
    - sudo mkdir $FRONTEND_DEST_DIR
    - sudo rsync -a .next/standalone/ $FRONTEND_DEST_DIR/
    - sudo rsync -a .next/static/ $FRONTEND_DEST_DIR/$FRONTEND_WORKING_DIR/.next/static
    - sudo rsync -a public $FRONTEND_DEST_DIR/$FRONTEND_WORKING_DIR
    - sudo rsync -a .env $FRONTEND_DEST_DIR/$FRONTEND_WORKING_DIR
    - echo "Стартуем сервер"
    - cd $FRONTEND_DEST_DIR/$FRONTEND_WORKING_DIR
    - echo ls "Файлы в папке скопированные"
    - sudo pm2 delete canadian-frontend || true
    - sudo pm2 start server.js --name canadian-frontend

build-backend:
  stage: build-backend
  tags:
    - deploy
  needs:
    - job: setup
  variables:
    GIT_CLEAN_FLAGS: "none"
  rules:
    # Выполняется при изменениях в указанных директориях или конфиге
    - changes:
        - "apps/backend/**/*"
        - "packages/api/**/*"
        - ".gitlab-ci.yml"
      when: always
  script:
    - echo "⚙️ Сохраняю .env для фронта..."
    - echo "$STRAPI_ENV_FILE" > "apps/backend/.env"
    - yarn install
    - yarn build:api
    - yarn workspaces focus @canadian-lawn/backend --production
    - yarn build:backend
  artifacts:
    paths:
      - apps/backend/dist
      - node_modules
      - $BACKEND_WORKING_DIR/.env
      - $BACKEND_WORKING_DIR/package.json
      - $BACKEND_WORKING_DIR/database
      - $BACKEND_WORKING_DIR/public
      - $BACKEND_WORKING_DIR/server.js
    expire_in: 1h
  timeout: 15m

deploy-backend:
  stage: deploy-backend
  tags:
    - deploy
  variables:
    GIT_CLEAN_FLAGS: "none"
  needs:
    - job: build-backend
      optional: true
  rules:
    # Выполняется при изменениях в бэкенде или конфиге
    - changes:
        - "apps/backend/**/*"
        - "packages/api/**/*"
        - ".gitlab-ci.yml"
      when: always
  script:
    - echo "Копируем файлики"
    - sudo rm -rf $BACKEND_DEST_DIR
    - sudo mkdir $BACKEND_DEST_DIR
    - sudo rsync -a node_modules $BACKEND_DEST_DIR
    - cd apps/backend
    - sudo rsync -a dist/** $BACKEND_DEST_DIR
    - sudo rsync -a .env $BACKEND_DEST_DIR
    - sudo rsync -a database $BACKEND_DEST_DIR
    - sudo rsync -a public $BACKEND_DEST_DIR
    - sudo rsync -a package.json $BACKEND_DEST_DIR
    - sudo rsync -a server.js $BACKEND_DEST_DIR
    - echo "Стартуем сервер"
    - cd $BACKEND_DEST_DIR
    - echo ls "Файлы в папке скопированные"
    - sudo pm2 delete canadian-backend || true
    - sudo pm2 start server.js --name canadian-backend
