/* globals.css */
@font-face {
    font-family: 'GolosRegular';
    src: url('../../public/fonts/GolosRegular.woff2') format('woff2');
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GolosBold';
    src: url('../../public/fonts/GolosBold.woff2') format('woff2');
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gothic';
    src: url('../../public/fonts/MursGothic.woff2') format('woff2');
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
}
