@theme {
  /* Colors */
  --color-primary: #154000;
  --color-secondary: #112204;
  --color-tertiary: #df0027;
  --color-baseBg: #ebe9f3;
  --color-baseSecondaryBg: #F2F1F6;
  --color-baseWhite: #fcfdfc;
  --color-baseBlack: #060606;
  --color-baseGrey: #575757;
  --color-baseSilvery: #c3ced9;
  --color-secondaryGrey: #969696;
  --color-secondaryRed: #fd4a4a;

  /* Borders */
  --radius-lg: 25px;
  --radius-sm: 15px;
  --radius-xs: 8px;

  /* Fonts */
  --font-golosBold: 'GolosBold', sans-serif;
  --font-golosRegular: 'GolosRegular', sans-serif;
  --font-gothic: 'Gothic', sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 390px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;

  /* Spacing */
  --spacing-section: 60px;

    @keyframes spin-slow {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    @keyframes wiggle {
      0%, 100% {
        transform: rotate(-15deg);
      }
      50% {
        transform: rotate(15deg);
      }
    }

    --animate-spin-slow: spin-slow 3s linear infinite;
    --animate-wiggle: wiggle 1.2s ease-in-out infinite;
  }


