@import '../../../../theme/theme.css';
@import 'tailwindcss';
@import '@canadian-lawn/ui-kit/style.css';

@theme {
  --breakpoint-xs: 390px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}